/* This styles the aside container */
#aSide {
    position: absolute;
    --poster-color: transparent;
    width: 600px;
    height: 900px;
  
        
}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
    
    width: 600px;
    height: 900px;

    position: absolute;
    border: none;
 
    
  
        
       
}