

/* Transform the page into a 2-column grid */
#holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

/* The left grid contains the text and occupies 50% of the available space */
#text {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0px 45px;
}

/* The right grid contains the model and occupies 50% of the available space */
model-viewer {
    width: 100%;
    height: 100%;
    outline: none;
}